
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.game-container {
	width: 80%;
	margin: 40px auto;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choice-container {
	display: flex;
	justify-content: space-around;
}

.choice {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
}

.result-container {
	margin-top: 20px;
	text-align: center;
}